#main-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50rem;
    width: 100%;
    margin: auto;
    padding: 2rem 0;

    > .card {
        border-width: 2px;
    }
}

#dashboard-title {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--base-frappe);
    color: var(--texto-frappe);
    border-color: var(--overlay2-frappe);
    border-bottom-width: 0 !important;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;

    & > * {
        margin: 0;
    }

    & > h2 {
        flex: 1;
    }
}

#dashboard-content {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0 !important;
    padding: 0;
    overflow: hidden;

    & > .dashboard-item:nth-of-type(even) {
        background-color: var(--crust-latte);
    }
}

#dashboard-add-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--surface0-latte);
    margin: 0 .5rem;
    padding: 1rem;
    gap: .75rem;
}

#dashboard-filter {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--surface0-latte);
    margin: 0 .5rem;
    padding: 1rem;
    gap: 1rem;

    & .filter-row {
        width: 100%;
        gap: .75rem;
        align-items: end;

        & svg {
            font-size: 1.25rem;
        }

        & button {
            font-weight: normal;
            gap: .25rem;
            padding: 0 1rem;
            height: 2.5rem;
        }
    }
}

.dashboard-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 6rem;
    width: 100%;
    padding: 1rem;

    & img {
        border-radius: 50%;
        border: 2px solid var(--base-frappe);
        height: 100%;
        aspect-ratio: 1/1;
        transition: transform 100ms ease;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .75rem;

        &:active {
            border-color: var(--mauve-latte);
            transform: scale(0.98);
        }
    }

    & .dashboard-item-info {
        flex: 1;

        & > p {
            font-size: 0.85rem;
            margin: 0;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            /*width: 8rem;*/
        }
    }
}

.dashboard-item-crud {
    display: flex;
    gap: .5rem;
}

.add-btn, .edit-btn, .delete-btn {
    font-size: 2rem;
    padding: .5rem;
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
}

.add-btn {
    background-color: var(--mauve-frappe);
}

.edit-btn {
    background-color: var(--mauve-latte);
}

.delete-btn {
    background-color: var(--red-latte);
}

@media screen and (max-width: 50rem) {
    #main-admin .card {
        border-radius: 0;
        border-left-width: 0;
        border-right-width: 0;
    }
}