.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 4rem 2rem;
}

.card {
    border: 1px solid var(--overlay2-latte);
    color: var(--texto-latte);
    background-color: var(--mantle-latte);
    border-radius: 8px;
}

.grupo-icones {
    display: flex;
    text-decoration: none;
    font-size: 3rem;
    gap: 1rem;
    align-items: center;

    & > a {
        display: flex;
        color: var(--texto-branco);
        cursor: pointer;
        transition: transform 100ms ease;
        text-decoration: none;

        &:active {
            transform: scale(0.95);
            color: var(--mauve-frappe);
        }
    }
}

.btn {
    &.transform {
        &:hover {
            filter: brightness(1.1);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    &.outlined {
        &.light {
            background-color: transparent;
            box-shadow: none;
            color: var(--texto-latte);
            border: 1px solid var(--texto-latte);

            &:active {
                background-color: var(--crust-latte);
            }
        }

        &.dark {
            background-color: transparent;
            box-shadow: none;
            color: var(--texto-frappe);
            border: 1px solid var(--texto-frappe);

            &:active {
                background-color: var(--overlay2-frappe);
            }
        }
    }
}

.text-input {
    display: flex;
    flex-direction: column;

    & label {
        font-weight: bold;
        margin-bottom: .2rem;
    }

    & input, input::placeholder, textarea, textarea::placeholder {
        font-size: 1rem;
        border-radius: 4px;
        background-color: transparent;
        padding: 0.5rem 0.75rem;
    }

    & ::placeholder {
        opacity: 0.5;
    }

    & input.dark, input.dark::placeholder, textarea.dark, textarea.dark::placeholder {
        color: var(--texto-frappe);
        border: 1px solid var(--texto-frappe);
    }

    & input.light, input.light::placeholder, textarea.light, textarea.light::placeholder {
        color: var(--texto-latte);
        border: 1px solid var(--overlay2-latte);
    }

    & input:focus, textarea:focus {
        outline: none;
    }

    & input.light:focus, textarea.light:focus {
        border: 1px solid var(--mauve-latte) !important;
    }

    & input.dark:focus, textarea.dark:focus {
        border: 1px solid var(--mauve-frappe) !important;
    }
}

.dropdown {
    display: flex;
    flex-direction: column;

    & label {
        font-weight: bold;
        margin-bottom: .2rem;
    }

    & select {
        font-size: 1rem;
        border-radius: 4px;
        background-color: transparent;
        padding: 0.5rem 0.75rem;
    }

    & select.dark {
        color: var(--texto-branco);
        border: 1px solid var(--mantle-latte);
    }

    & select.light {
        color: var(--texto-latte);
        border: 1px solid var(--overlay2-latte);
    }
}

.badge {
    padding: 0.25rem .5rem .25rem .75rem;
    width: fit-content;
    border-radius: 1rem;
    font-size: .75rem;

    & > a {
        cursor: pointer;
    }

    &.light {
        color: var(--texto-branco);
        background-color: var(--mauve-latte);
    }

    &.dark {
        color: var(--texto-branco);
        background-color: var(--mauve-latte);
    }
}